* {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
 body {
     background: #000000;
     background-image: url("../images/background.svg");
}
 .about{
     font-family: 'Ubuntu', sans-serif;
     font-size: 10px;
     justify-content: center;
     align-items: center;
     color: #ffffff;
     margin-top: 5px;
     display: flex;
     flex-direction: column;
}
 .header > img{
     width: 100%;
}
 .header{
     display: flex;
}
 .eternal > img{
     width: 75%;
}
 .eternal{
     width: 36%;
     display: flex;
     margin-left: 25px;
}
 h2 {
     font-size: 30px;
     color: #fff;
     font-family:'Ubuntu', sans-serif;
}
 .suggestion{
     color: #ffffff;
     font-family:'Ubuntu', sans-serif;
     font-size: 35px;
     text-align: left;
}
 .suggestion h2 {
     margin-left: 50px;
}
 .suggestion p{
     color: #ffffff;
     font-family:'Ubuntu', sans-serif;
     font-size: 16px;
     margin-left: 50px;
     margin-top: 5px;
     width: 80%;
}
 .speed h2 {
     margin-left: 50px;
}
 .speed p{
     color: #ffffff;
     font-family:'Ubuntu', sans-serif;
     font-size: 16px;
     margin-left: 50px;
     margin-top: 5px;
     width: 80%;
}
 .safety h2 {
     margin-left: 50px;
}
 .safety p{
     color: #ffffff;
     font-family:'Ubuntu', sans-serif;
     font-size: 16px;
     margin-left: 50px;
     margin-top: 5px;
     width: 80%;
}
 .fast > img{
     width: 75px;
}
 .fast{
     width: 75px;
     margin-top: 30px;
     display: flex;
}
 .advantages-header{
     color: white;
     font-family:'Ubuntu', sans-serif;
     font-size: 35px;
     margin-left: 20px;
}
 .safe > img{
     width: 75px;
}
 .safe{
     width: 75px;
     margin-top: 30px;
     display: flex;
}
 .safeness-header{
     color: white;
     font-family:'Ubuntu', sans-serif;
     font-size: 35px;
     margin-left: 20px;
}
 .safeness-paragraph{
     color: #ffffff;
     font-family:'Ubuntu', sans-serif;
     font-size: 16px;
    /* margin-left: 50px;
     */
     margin-top: 5px;
}
 .eternity-sign, .safety-sign, .speed-sign {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 h3{
     font-family: 'Ubuntu', sans-serif;
     font-size: 14px;
     justify-content: center;
     align-items: center;
     color: #ffffff;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
}
 h3:first-of-type {
     margin-top: 80px;
}
 @media (min-width: 768px) {
     .header > img{
         width: 100%;
    }
     .header{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
    }
     .about{
         font-size: 14px;
    }
     .eternal > img{
         width: 75%;
    }
     .eternal{
         width: 25%;
         margin-left: 45px;
    }
     .fast > img{
         width: 40%;
    }
     .fast{
         width: 40%;
         margin-top: 70px;
         margin-left: 170px;
    }
     .safe > img{
         width: 40%;
    }
     .safe{
         width: 40%;
         margin-top: 70px;
         margin-left: 190px;
    }
     .suggestion{
         font-size: 35px;
    }
     .suggestion h2 {
         font-size: 40px;
    }
     .suggestion p{
         font-family:'Ubuntu', sans-serif;
         font-size: 20px;
    }
     .speed{
         font-size: 35px;
    }
     .speed h2 {
         font-size: 40px;
    }
     .speed p{
         font-size: 20px;
    }
     .safety{
         font-size: 35px;
    }
     .safety h2 {
         margin-left: 50px;
         font-size: 40px;
    }
     .safety p{
         font-size: 20px;
    }
     h3{
         font-size: 18px;
    }
     h3:first-of-type {
         margin-top: 80px;
    }
     @media (min-width: 1024px){
         .header > img{
             width: 100%;
        }
         .header{
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
        }
         .about{
             font-size: 20px;
             margin-top: 5px;

        }

         .eternal > img{
             width: 75%;
        }
         .eternal{
             width: 25%;
             margin-left: 80px;
        }
         .fast > img{
             width: 40%;
        }
         .fast{
             width: 40%;
             margin-top: 140px;
             margin-left: 240px;
        }
         .safe > img{
             width: 50%;
        }
         .safe{
             width: 50%;
             margin-top: 140px;
             margin-left: 260px;
        }
         .suggestion{
             font-size: 35px;
             text-align: left;
        }
         .suggestion h2 {
             margin-left: 50px;
             font-size: 65px;
        }
         .suggestion p{
             font-size: 30px;
             margin-left: 50px;
             margin-top: 5px;
             width: 80%;
        }
         .speed{
             font-size: 35px;
             text-align: left;
        }
         .speed h2 {
             margin-left: 50px;
             font-size: 65px;
        }
         .speed p{
             font-size: 35px;
             margin-left: 50px;
             margin-top: 5px;
             width: 80%;
        }
         .safety{
             font-size: 65px;
             text-align: left;
        }
         .safety h2 {
             margin-left: 50px;
             font-size: 80px;
        }
         .safety p{
             font-size: 35px;
             margin-left: 50px;
             margin-top: 5px;
             width: 80%;
        }
         h3{
             font-size: 25px;
             margin-top: 10px;
        }
         h3:first-of-type {
             margin-top: 100px;
        }
         @media (min-width: 1440px){
             .header > img{
                 width: 100%;
            }
             .header{
                 width: 100%;
                 display: flex;
                 justify-content: center;
                 align-items: center;
            }
             .about{
                 font-size: 25px;
            }
             .eternal > img{
                 width: 75%;
            }
             .eternal{
                 width: 25%;
                 margin-left: 100px;
            }
             .fast > img{
                 width: 40%;
            }
             .fast{
                 width: 40%;
                 margin-top: 140px;
                 margin-left: 350px;
            }
             .safe > img{
                 width: 60%;
            }
             .safe{
                 width: 60%;
                 margin-top: 140px;
                 margin-left: 370px;
            }
             .suggestion{
                 font-size: 35px;
                 text-align: left;
            }
             .suggestion h2 {
                 margin-left: 50px;
                 font-size: 80px;
            }
             .suggestion p{
                 font-size: 40px;
                 margin-left: 50px;
                 margin-top: 5px;
                 width: 80%;
            }
             .speed{
                 font-size: 35px;
                 text-align: left;
            }
             .speed h2 {
                 margin-left: 50px;
                 font-size: 80px;
            }
             .speed p{
                 font-size: 40px;
                 margin-left: 50px;
                 margin-top: 5px;
                 width: 80%;
            }
             .safety{
                 font-size: 65px;
                 text-align: left;
            }
             .safety h2 {
                 margin-left: 50px;
                 font-size: 80px;
            }
             .safety p{
                 font-size: 40px;
                 margin-left: 50px;
                 margin-top: 5px;
                 width: 80%;
            }
             h3{
                 font-size: 30px;
                 margin-top: 10px;
            }
             h3:first-of-type {
                 margin-top: 100px;
            }
        }
